<div class="container">
    <div class="row mt-5">
        <div class="col-2"> 1 <!--  for img-->
            <img src="" alt="">
        </div>

        <div class="col-12"> <!--  -->
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    your photo this will be displayed on profile
                </div>
                <!-- <div class="col-1"></div> -->
                <div class="col-3">
                    <label for="Firstname">Firstname</label>
                    <input type="text" class="form-control" id="Firstname" name="Firstname">
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                    <label for="Lastname">Lastname</label>
                    <input type="text" class="form-control" id="Lastname" name="Lastname">
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <p>Upload Image</p>
                    <input type="file">
                </div>
                <!-- <div class="col-1"></div> -->
                <div class="col-3">
                    <label for="Email">Email</label>
                    <input type="text" class="form-control" id="Email" name="Email">
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                    <label for="DateOfBirth">Date of Birth</label>
                    <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth">
                </div>
            </div>

        </div>
    </div>  
</div>