.container{

    align-items: center;
}

.form-control{
    height: 50px;

}



ul {
    list-style-type: none; 
  }

label {
    font-size: 20px;
}

input {
    font-size: 20px;
}

.add_address {
    font-size: 20px;
    height: 50px;
    width: 150px;
    border: transparent;
    background: dodgerblue;
    color: white;
    border-radius: 5px;
}

.add_more_address {
    font-size: 20px;
    height: 50px;
    width: 220px;
    border: transparent;
    background: dodgerblue;
    color: white;
    border-radius: 5px;
}

.submit{
    margin-top: 35px;
    font-size: 20px;
    height: 35px;
    width: 120px;
    border: transparent;
    background: rgb(0, 237, 254);
    color: white;
    border-radius: 5px;
}